  html{
  background-color: rgb(255,255,255);
}
.main_form{
  /*background: rgba(19,35,47,0.9);*/
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  padding-top: 0px;
  /*box-shadow: */
}

h1{
  text-align: center;
  font-weight: 300px;
  /*margin: 0 0 40px;*/
  margin-left: 0px;
  font-size: 2em;
}

a{
  color:#11939a;
  text-decoration: none;
}

input,select{
  font-size: 16px;
  background-color: rgb(255,255,255);
  background-size: auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(203,219,219);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(203,219,219);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(203,219,219);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(203,219,219);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  width: 90%;
  height: 900%;
  padding: 18px 10px;
  background: none
  border:1px solid #a0b3b0;
  border-radius: 0;
}

.wrap{
  position:relative;
  margin-bottom:40px;
}

.inputfield{
  width: 76%;
}

.button{
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #fff;
  background-color: #11939a;
  display: block;
  width: 73%;
}

label{
  cursor: default;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom:4px;
  visibility: visible; 
}

.display{
  margin-right: 120px;
}
.slogan{
  margin-left: 130px;
  font-size: 20px;
}

.image{
  max-width: 70px;
  margin: 5px auto;
  text-align: center;
  padding: 10px ;
  background: black;
  color: white;
  font-size:25px;
}

select{
 width: 60px;
 padding: 18px 10px;
}

.top-row{
  content: "";
  display: table;
  clear: both;
}

.top-row:after {
  display: table;
}
.top-row > div {
  float: left;
  width: 40%;
  margin-right: 4%;
}
.top-row > div:last-child {
  /*margin: 10px;*/
  padding-left: 30px;
  margin-bottom: 4px;
}

.button:hover{
    background-color: #000;
}
.button:focus{
    background-color: green;
}


/*Responsive design part of the web form*/
@media only screen and (max-width: 750px) {

input,select{
  width: 100%;
  height: 900%;
}

.slogan{
  margin-left: 25%;
  font-size: 15px;
}

.image{
  max-width: 70px;
  margin: 5px auto;
  text-align: center;
  padding: 10px ;
  background: black;
  color: white;
  font-size:25px;
}


.display{
  margin-right: 10px;
}

.inputfield{
  width: 94%;
}

.top-row > div {
  float: left;
  width: 40%;
  margin-right: 3%;
  margin-top: 10px;
}

#lastname{
  position: relative;
}

}
